<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabuda.dao.BrandDao">

    <select id="getBrandList" resultType="com.kabuda.entity.Brand">
        SELECT
            id,
            first_letter AS firstLetter,
            brand_name AS brandName
        FROM brand
    </select>

    <select id="getBrandListByLetter" resultType="com.kabuda.entity.Brand">
        SELECT
            id,
            first_letter AS firstLetter,
            brand_name AS brandName
        FROM brand WHERE first_letter = #{firstLetter}
    </select>

    <select id="getBrandById" resultType="com.kabuda.entity.Brand">
        SELECT
            id,
            first_letter AS firstLetter,
            brand_name AS brandName
        FROM brand WHERE id = #{id}
    </select>
</mapper>