<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabuda.dao.UserDao">

    <select id="getUserById" resultType="com.kabuda.entity.User">
        SELECT
            user.id AS id,
            phone_number AS "phoneNumber",
            password,
            name,
            sex,
            is_driver AS "isDriver",
            model,
            price,
            driving_age AS "drivingAge",
            city AS location,
            user.location_code AS locationCode,
            head_potrait AS "headPotrait",
            user_level AS "userLevel",
            active AS "isActive"
        FROM user LEFT JOIN location ON user.location_code = location.location_code WHERE user.id = #{id}
    </select>

    <select id="getUserByPhoneNumber" resultType="com.kabuda.entity.User">
        SELECT
            user.id AS id,
            phone_number AS "phoneNumber",
            password,
            name,
            sex,
            is_driver AS "isDriver",
            model,
            price,
            driving_age AS "drivingAge",
            city AS location,
            user.location_code AS locationCode,
            head_potrait AS "headPotrait",
            user_level AS "userLevel",
            active AS "isActive"
        FROM user LEFT JOIN location ON user.location_code = location.location_code WHERE phone_number = #{phoneNumber}
    </select>

    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (phone_number, password, name, sex, is_driver, model, price, driving_age, location_code, head_potrait, user_level, active)
        VALUES (#{phoneNumber}, #{password}, #{name}, #{sex}, #{isDriver}, #{model}, #{price}, #{drivingAge}, #{locationCode}, #{headPotrait}, #{userLevel}, #{isActive})
    </insert>

    <update id="updateUser">
        UPDATE user SET
          phone_number = #{phoneNumber},
          password = #{password},
          name = #{name},
          sex = #{sex},
          is_driver = #{isDriver},
          model = #{model},
          price = #{price},
          driving_age = #{drivingAge},
          location_code = #{locationCode},
          head_potrait = #{headPotrait},
          user_level = #{userLevel},
          active = #{isActive}
        WHERE id = #{id}
    </update>

    <update id="removeUser">
        UPDATE user SET
          active = #{isActive}
        WHERE id = #{id}
    </update>


    <select id="countUserCars" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM vehicle WHERE user_id = #{id}
    </select>

    <select id="listUserCars" resultType="com.kabuda.entity.domain.VehicleBean">
        SELECT
            vehicle.id AS id,
            user_id AS userId,
            brand.brand_name AS brandName,
            model.model_name AS modelName,
            location.city AS location,
            used_hours AS usedHours,
            vehicle_age AS vehicleAge,
            equipment_number AS equipmentNumber,
            description,
            contact,
            contact_phone AS contactPhone,
            tonnage,
            sell AS isSell,
            rent AS isRent,
            sell_state AS sellState,
            rent_state AS rentState,
            sell_price AS sellPrice,
            rent_price AS rentPrice,
            release_date AS releaseDate,
            update_date AS updateDate
        FROM vehicle
        LEFT JOIN model ON vehicle.model_id = model.id
        LEFT JOIN brand ON vehicle.brand_id = brand.id
        LEFT JOIN location ON vehicle.location_code = location.location_code
        WHERE vehicle.user_id = #{id}
    </select>


    <select id="listDrivers" resultType="com.kabuda.entity.User">
        SELECT
            user.id AS id,
            phone_number AS phoneNumber,
            password,
            name,
            sex,
            is_driver AS isDriver,
            model,
            price,
            driving_age AS drivingAge,
            city AS location,
            user.location_code AS locationCode,
            head_potrait AS headPotrait,
            user_level AS userLevel,
            active AS isActive
        FROM user LEFT JOIN location ON user.location_code = location.location_code
        WHERE is_driver = '1'
        <if test="city != null">
            AND location.city = #{city}
        </if>
        <if test="keyword != null">
            AND user.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="modelId != null">
            AND user.model LIKE CONCAT('%', #{modelId}, '%')
        </if>
        <if test="drivingAge == 1">
            AND user.driving_age &gt;= '0' AND user.driving_age &lt;= '3'
        </if>
        <if test="drivingAge == 2">
            AND user.driving_age &gt;= '4' AND user.driving_age &lt;= '6'
        </if>
        <if test="drivingAge == 3">
            AND user.driving_age &gt;= '7' AND user.driving_age &lt;= '9'
        </if>
        <if test="drivingAge == 4">
            AND user.driving_age &gt;= '10'
        </if>
        <if test="sort == 1">
            ORDER BY user.driving_age ASC
        </if>
        <if test="sort == 2">
            ORDER BY user.driving_age DESC
        </if>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>