<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabuda.dao.UserDao">

    <select id="getUserById" resultType="com.kabuda.entity.User">
        SELECT
            id,
            phone_number AS "phoneNumber",
            password,
            name,
            sex,
            is_driver AS "isDriver",
            model,
            price,
            driving_age AS "drivingAge",
            location,
            head_potrait AS "headPotrait",
            user_level AS "userLevel",
            active AS "isActive"
        FROM user WHERE id = #{id}
    </select>

    <select id="getUserByPhoneNumber" resultType="com.kabuda.entity.User">
        SELECT
            id,
            phone_number AS "phoneNumber",
            password,
            name,
            sex,
            is_driver AS "isDriver",
            model,
            price,
            driving_age AS "drivingAge",
            location,
            head_potrait AS "headPotrait",
            user_level AS "userLevel",
            active AS "isActive"
        FROM user WHERE phone_number = #{phoneNumber}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (phone_number, password, name, sex, is_driver, model, price, driving_age, location, head_potrait, user_level, active)
        VALUES (#{phoneNumber}, #{password}, #{name}, #{sex}, #{isDriver}, #{model}, #{price}, #{drivingAge}, #{location}, #{headPotrait}, #{userLevel}, #{isActive})
    </insert>

    <update id="update">
        UPDATE user SET
          phone_number = #{phoneNumber},
          password = #{password},
          name = #{name},
          sex = #{sex},
          is_driver = #{isDriver},
          model = #{model},
          price = #{price},
          driving_age = #{drivingAge},
          location = #{location},
          head_potrait = #{headPotrait},
          user_level = #{userLevel},
          active = #{isActive}
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE user SET
          active = #{isActive}
        WHERE id = #{id}
    </update>
</mapper>