@charset "UTF-8";
*{
    font-family: Microsoft Yahei,arial,'sans-serif';
}
body {
    padding:0;
}
.hide{
    display:none;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
/*导航手机隐藏*/
@media (max-width: 768px) {
    .breadcrumb {
        display:none;
    }
    .head-phone{
        display:none;
    }
}
/*--登录--*/
.login-content {
    margin-top: 70px;
}
@media (min-width: 768px) {
    .login-content {
        height: 285px;
        width:350px !important;
        left: 50%;
        top: 50%;
        margin-top: 155px;
        margin-left: -175px;
    }
}
.login-header {

    border-bottom:1px solid #FD6F1A!important;
    height: 55px;
}
.login-body {
    padding:15px 20px 10px!important;
}
.login-body ul{
    padding: 0;
    list-style-type: none;
}
.login-body input {
    border-radius: 4px;
}
.login-body .btn {
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
}
.btn-area {
    padding-bottom: 20px;
}
.btn-area .btn{
    color:#fff;
    font-size:14px;
    margin-top: 25px;
    background-color: #FD6F1A;
    border: none;
}
.btn-area p {
    float:right;
    margin-top: 5px;
}
.btn-area p>a{
}
.input-group-addon {
    background-color: #fff!important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.login-title {
    width:100px!important;
    float:left;
}
#login-warning {
    color:red;
    padding-top: 3px;
    margin:0;
}
#login-title {
    width: 60px!important;
}

/*--顶部主体--*/
.head-body {

    width: 100%;
    background-size: cover;

}
@media (min-width: 768px) {
    .head-body {

    }
}
.head-body h1{
    margin-top:15px !important;
}
.head-body h1>a {
    color: #FD6F1A;
    margin: 0 10px;
    padding: 15px 0 0 0;
    font-size: 26px;
}
.head-body h1>a:hover {
    text-decoration: none;
}
@media (min-width: 768px) {
    .head-body h1>a {
        font-size: 34px;
    }
}
.head-title{
    color:#FD6F1A;
}
.citySelect{
    padding-top:20px;
}
@media (min-width:768px) {
    .citySelect{
        padding-top:15px;
    }
}
.head-body-logo {
    width:100px;
    float:left;
    margin-right:10px;
}
.head-search {
    padding-top: 5px;
    padding-bottom:5px;
}
@media (min-width: 768px) {
    .head-search {
        padding-top: 15px;
    }
}
.head-search input {
    height:36px;
    border:1px solid #FD6F1A !important;
}
.head-search .input-group-addon{
    border:1px solid #fff !important;
    border-right:1px solid #ccc !important;
}
.head-search  .btn {
    width: 80px;
    background-color:#FD6F1A !important;
    color:#FFF !important;
    transition: all 0.2s ease-in-out;
    font-size:16px;
 }
.head-search .btn:hover {
    background-color: #FD521D!important;
    color:#FFF!important;
}


.head-phone {
    padding-top: 15px;
    line-height: 36px;
    font-size: 1.2em;
    color:#FD6F1A;
}

.head-phone .glyphicon{
    font-size: 1.3em;
    margin-right:10px;
}
@media (min-width: 768px) {
    .head-phone {
        padding-top: 15px;
    }
}
/*--顶部导航--*/
.head-nav {
    background-color:#FD6F1A;
}
@media (min-width: 768px) {
    .head-nav {

    }
}
.head-nav a {
    margin-left: 0;
    color: #fff;
    transition: all 0.15s ease-in-out;
    text-align:center;
    line-height: 46px !important;
    font-size: 16px;
    padding:0 20px !important;

}
.head-nav a:hover {
    color:#fff;
    background-color:#FD521D !important;
}
.head-nav a:focus {
    color:#fff;
    background-color:#FD6F1A !important;
    border: 0 !important;
}


.head-nav .icon-bar{
    background-color:#fff;
}
/*登录*/

#nav-login:focus{
    outline:none !important;
}


/*#login-btn:active,:focus{
    background-color: #FD521D !important;
    border-color:#FD521D !important;
}*/
/*--底部--*/
.foot {
    background-color: #FD6F1A;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 40px;
}
.foot p {
    text-align: center;
    color: #fff;
    font-size:16px;
}
.foot ul {
    text-align: center;
    padding:0;
    margin-top:15px;
}
.foot li {
    display:inline;
    color: #bac1c8;
    padding-left: 5px;
}
.foot li a{
    color: #bac1c8;
    transition: all 0.2s ease-in-out;
    font-size:16px;
}
.foot li a:hover{
    color: #5adae2;
    text-decoration: none;
}
.foot img {
    width:180px;
}
.foot>.container-fluid>.col-md-1 {
    text-align: center;
}

/*导航*/
.breadcrumb{
    background-color:#fff;
}
/*selectBox*/
.selectBox{width:380px;border:1px solid #B3CDC0;overflow:hidden;box-shadow:2px 2px 3px rgba(0,0,0,0.3); font:12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;text-align:left;
    z-index: 999;position:absolute; top:20px; left:400px; display:none;}
.selectBox ul{margin:0;padding:0;overflow:hidden;}
.selectBox ul li:first-child{margin-left:5px;}
.selectBox ul li{float:left;list-style:none;padding:5px;border-bottom:1px solid #DDD;cursor:pointer;display:inline;color:#FD6F1A;}
.selectBox ul li.on{border-bottom-color:#FD6F1A;position:relative;}
.hide{display:none;}
p.tip{color:#999;line-height:20px;padding:5px;margin:0;text-indent:3px;}
.itemListBox{border-top:1px solid #DDD;margin-top:-1px;clear:left;overflow-x:hidden;overflow-x:auto; height:200px;padding-bottom:10px;padding-top:10px;_margin-bottom:8px;}
.itemBox{overflow:hidden;}
.itemBox dl{margin:0;padding:0 0 0 10px;overflow:hidden;}
.itemBox dl dt{float:left;padding-left:3px;color:#FD6F1A;margin-top:1px;text-indent:5px;font-family:"Lucida console","consolas","courier new";line-height:25px;font-size:14px;width:20px;}
.itemBox dl dd{margin-left:2px;float:left;width:320px;}
.itemBox dl dd a{padding-left:5px;line-height:25px;display:inline-block;color:#333;text-decoration:none; cursor: pointer;}
.itemBox dl dd a:hover{color:#FD6F1A;}
/*删除按钮*/
.delete_x{
    color:#c03;
}

.imgDiv{
    overflow:hidden;
    max-height:210px;
}
.driveYearSpan{
    color:#999;
    fon-size:13px;
}
