@charset "UTF-8";

/*--容器--*/
.my-container {
    height: 300px;
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 10px 0 10px;
}
.my-container h3{
    color: #FD521D;
    margin: 0 0 10px;
    padding: 10px 0 10px;
    font-size:20px;
    text-indent:4px;
    border-bottom: 1px solid #ddd;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif !important;
}
.my-container ul {
    padding: 0;
}
.my-container li {
    padding: 5px 0 0;
    margin-left: 15px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.my-container li a {
    color: #535353;
    transition: all 0.15s ease-in-out;
}
.my-container li a:hover {
    color: #f98b0c;
    text-decoration: none;
}
.my-container span {
    color:#FD521D;
    float:left;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}


/*--直通车--*/
.fast-order-select {
    padding:10px 20px 0;
}
.fast-order-select label{
    float: left;
    padding-top: 5px;
}
.fast-order-select select{
    float: left;
    width: 80%;
    margin-left: 5px;
}
.fast-order-btn {
    margin: 10px 53px 0;
    width: 130px;
    transition: all 0.2s ease-in-out;
    background-color: #FD6F1A !important;
    border-color: #FD521D !important;
}
.fast-order-btn:hover {
    background-color: #FD521D !important;
}

/*--平台概况--*/
.info-con{
    magin:1px auto;
    padding: 10px 20px 20px 20px;
}
.info-con h3{
    text-align: center;
    color: #FD521D;
}
.info-con p{
    text-align: center;
}

.deck {
    height: 16px;
    width: 4px;
    font-size: 0;
    background-color: #fd521d;
    margin-right: 8px;
    vertical-align: -2px;
    display: inline-block;
}



/*--轮播--*/
.slide {
    margin-top: 30px;
}
.slide .item {
    height: 200px;
}
@media (min-width: 768px) {
    .slide .item {
        height: 300px;
    }
}