@charset "UTF-8";

ul{
    list-style: none;
}
select.form-control{
    padding-right: inherit !important;
}
/*--顶部--*/
.reg-head {
    height: 90px;
    border-bottom: 2px solid #fd521d;
    padding-top: 25px;
}
.reg-head h1{
    color: #3c3c3c;
    font-size: 26px;
    padding-left:10px;
    float:left;
}
.reg-head img {
    width: 50px;
    float:left;
}

/*--头像--*/
.choose-head {
    height:180px
}
.choose-head img {
    width: 130px;
    border:4px solid #bcbcbc;
}
.head {
    text-align: center;
}
.choose-head span {
    padding-top:10px;
    display: block;
    text-align: center;
    color:#bcbcbc;
    font-size: 16px;
}
.img-active {
    border:4px solid #377bee!important;
}
.span-active {
    color:#377bee!important;
    font-weight: bold!important;
}

/*--主体--*/
.reg-body,.sell-body {
    margin-top: 20px;
    padding: 30px 10px 0 !important;
    min-height: 700px;
}
#push-form {
}
#push-form label {
    text-align: left;
    padding-right: 0;
}
#push-form .form-group {
    margin-bottom:22px;
}

/*--主体下部--*/
.reg-body .agree {
    padding: 0 20px 0;
    float:right;
    margin-bottom: 5px;
}
#push-btn {
    color:#fff;
    font-size:18px;
    margin: 10px 0;
    transition: all 0.15s ease-in-out;
    border: none;
    border-radius: 4px;
}
#sentMobile {
    margin-left:-15px;
    border-left:none;
}
#push-form>.btn-area {
    padding: 0 15px;
}


/*--注册成功--*/
.reg-suc-body {
    height: 325px;
    text-align: center;
    margin-top: 60px;
}

.reg-suc-body h2{
    color: #64A600;
}
@media (max-width: 768px) {
    .reg-suc-body h2{
        font-size: 24px;
    }

}
@media (min-width: 768px) {
    .reg-body{
        margin-left: 30% !important;
    }
    #register-btn{
        width:90%;margin-left: 10%
    }
}
.reg-suc-body p {
    font-size:16px;
    margin-top:20px;
 }
.reg-suc-body .hook {
    width: 50px;
    margin-top: -8px;
}
.reg-suc-body .btn {
    transition: all 0.15s ease-in-out;
    border: none;
    border-radius: 4px;
}
#person-btn {
    background-color: #377bee;
    margin-top: 50px;
    margin-bottom: 10px;
}
#person-btn:hover{
    background-color: #0066CC;
}
@media (min-width: 768px) {
    .reg-suc-body .btn {
        width: 400px;
        margin-left: 78px;
    }
}
@media (max-width: 768px){
    .for-xs{
        margin-bottom: 15px;
    }
}



.vehicle_picture{
    margin-top:5px;
}

.toleft{
    margin-left: -2%;
}
.reg_toleft{
    margin-left: -5%;
}
.to_right{
    padding-right: 35%;
}
.unit{
    position: absolute;
    top:6px;left:65%
}

@media (min-width: 768px) {
    .model-content {
        height: 345px;
    }
}

#model li{
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-bottom: 15px;

}
#model li a{
    color: #fff;
    background-color: #FD6F1A;
    border-color: #357ebd;
    padding:2px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration:none;
    cursor:pointer;

}

#model li a :hover{
    background-color: #FD521D;
}

#push-btn:hover,#register-btn:hover{
    background-color: #FD521D;
}
#register-btn[disabled],#push-btn[disabled]{
    background-color: #FD521D;
}
.function_label{
    margin-right: 5px;
}

.img-group li {
    width: 110px;
    height: 133px;
    padding: 4px 6px 0 0;
    float: left;
    display: inline;
    margin: 6px 5px 0 0;
    position: relative;
    overflow: hidden;
}
.img-group li .img{
    width: 108px;
    height: 108px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.img-group li .img img{
    width: 100%;
    height: 72px;
    margin-top: 19px;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}
.img-group li .set{
    width: 108px;
    height: 20px;
    padding: 3px 4px;
    box-shadow: 1px 1px 1px 1px #ccc;
    background: #fff;
}
.set span{
    margin-top: 1px;
    width: 30px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #888;
    background: url(../images/bg.png) -165px -137px no-repeat;
    cursor: pointer;
    float: left;
    display: inline;
}
#model {
    height: 95px;
    overflow-y:scroll;
}
#model ul{
    padding: 0;
}

