.userpage_title{
    padding:4px 0;
    border-bottom: 2px solid #00AEAE;
    color:#00AEAE;
    font-weight:bold;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #FD6F1A!important;
}
.headportrait{width:150px;height:150px; margin-bottom:10px; overflow: hidden;}
/*响应式table兼容firefox*/
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

table a{
    cursor:pointer;
}
table .label{
    margin-right:5px;
}